[Desktop Entry]
Version=1.0
Type=Application
Name=astroqtpy
Comment=
Exec=python3 /home/julien/astroqtpy/main.py
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false